.messages{
    height: calc(100% - 80px);
    overflow-y: auto;
    padding: 10px 10px 0;
    margin-bottom: 80px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.2;
}

.messages li::after{
    display: block;
    content: '';
    clear: both;
}

.messages div{
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 10px;
    min-width: 32px;
    box-sizing: border-box;
}

.messages p{
    max-width: 320px;
    padding: 10px 12px;
    vertical-align: middle;
}

.messages figure{
    max-width: 160px;
}

.messages .from{
    float: left;
    background: #163a93;
}

.messages .to{
    float: right;
    background: #9c2b55;
}

.controls{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    padding: 20px 10px;
    box-sizing: border-box;
}

.controls button{
    width: 30px;
    height: 30px;
    background: #9c2b55;
    box-sizing: border-box;
    font-size: 0.8rem;
    color: #fff;
    border-radius: 50px;
    padding: 8px;
    text-align: center;
}

.controls input{
    vertical-align: middle;
    height: 40px;
    border-radius: 12px;
    border: 0;
    margin: 0 10px;
    width: calc(100% - 80px);
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 1.2rem;
}


